<h2>Listing bouquets</h2>
<% if current_user.present? %>
  <% if current_user.role == "Admin" %>
    <div class = "new_bouquet_form">
      <p>Bouquet Name:</p>
      <input type='text' id='bouquet_name'>
      <p>Bouquet Price:</p>
      <input type='float' id='price'>
      <p>Bouquet Description:</p>
      <input type='text' id='bouquet_description'>
      <p>Number of Bouquets:</p>
      <input type='integer' id='number_bouquets'>
      </br>
      </br>
      <input type='submit' value='submit' class='bouquet_submit'>
    </div>
  <% end %>
<% end %>

<div id = "listbouquets"></div>
<br />

<%= link_to 'New Bouquet', new_bouquet_path %>

<script src="https://checkout.stripe.com/checkout.js"></script>
