<h1>Welcome to Flower Cycle</h1>

<div class = "order">
  <%= image_tag('homepage1.jpeg')%>
  <p>Flower Cycle is a sustainable way to recieve beautiful flowers to your door on a regular basis</p>
  <button>Order</button>
</div>

<div class = "process">
  <h3>How it works</h3>
  <%= image_tag('flowershop.png')%>
  <p>1</p>
  <p>A flower company supplies flowers to an event</p>
  <%= image_tag('partydrawing.png')%>
  <p>2</p>
  <p>The flowers make an event look beautiful at an event</p>
  <%= image_tag('bicycleflowers.png')%>
  <p>3</p>
  <p>Flower cycle pick up the flowers and deliver you a fresh bunch of flowers every week in a new theme and style</p>
  <%= image_tag('home.png')%>
  <p>4</p>
  <p>Your home looks beautiful with a new set of flowers every week</p>
  <%= link_to 'Find out more' %>
</div>

<div class = "suppliers">
  <h3><%= link_to 'Our Suppliers'%></h3>
  <div class = "supplier1"></div>
</div>

<div class = "instagram">
    <h3><a href="http://instagram.com/flowercycle">Instagram</a></h3>
</div>
