/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


*, *:after, *:before { 
  -moz-box-sizing: border-box; 
  -ms-box-sizing: border-box; 
  box-sizing: border-box; 
}

/*html {
  text-align: center;
}
*/
body, nav{
    min-width: 1200px;
}

.order {
  margin-top: 80px;
  height: 600px;
  width: 100%;
  background: url('backgroundleaves.jpeg');

  
}

.order h1{
  padding-top: 170px;
  font-size: 50px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-left: 50px;
  color: white;
}

.flowerandtext{
  margin-top: 170px;
  float: right;
  text-align: center;
  margin-right: 200px;
}

.flowerandtext p{
  width: 350px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.process{
  margin: 0px;
  height: 600px;
  width: 100%;
}

.process h3{
  margin-left: 50px;

}

.image{
  width: 100px;
  height: 100px;
  border: 2px black solid;
  border-radius: 50%;
}

.digit{
  padding: 12px;
  width: 50px;
  height: 50px;
  border: 2px black solid;
  border-radius: 50%;

}
.steps{
  margin-top: 10%;
  text-align: center;
}
.step1{
  width: 200px;
  display: inline-block;
}

.step2{
  width: 200px;
  display: inline-block;
}
.step3{
  width: 200px;
  display: inline-block;
}
.step4{
  width: 200px;
  display: inline-block;
}

.suppliers_container{

  margin: 0 auto;
  margin-top: 50px;
  margin-left: 40px;
  height: 600px;
  width: 100%;
}

.suppliers{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.homepagesupplier{
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  border: 2px solid black;
  width: 28%;
  height: 400px;
}
.homepagesupplier img{

  padding-top: 50px;
  margin-top: 15px;
  margin: 0 auto;
  display: block;
}

.instagram{
  margin-left: 40px;
  margin-top: 50px;
  height: 600px;
  width: 100%;
}

iframe{
  border : 3px red solid;
}

footer {
  background-color: #318b18;
}

.social{
  display: inline-block;
  float: right;
  margin-top: 85px;
  margin-right: 15px;    
}
.contact{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 300px;
}

.suppliers_page{
  margin-top: 80px;
  margin-bottom: 30px;
}

.supplier{
  margin: 0 auto;
  width: 90%
}
.eachsupplier{
  vertical-align: top;
  margin: 0 auto;
  width: 25%;
  height: 300px;
  border: 2px solid black;
  display: inline-block;
  padding: 10px;
}


/*Bouquet Order Page*/

.subscription {
  margin-top: 80px;
}

.subscription h2 {
  margin-top: 80px;
  margin-left: 40px
}

.subscription_order p{
  margin-top: 30px;
  margin-left: 200px;
  font-size: 20px;
}


.listing_bouquets{
  margin-top: 80px;
}

.listing_bouquets h2{
  margin-left: 40px;
}

#listbouquets {
  margin-top: 70px;
  width: 300px;
  margin: 0 auto;
}

.listbouquets{
  margin-top: 40px;
  text-align: center;
}

.bouquet_image{
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: block;
  border: 4px solid black;
  border-radius: 50%
}

.bouquet_name{
  font-size: 20px;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


.price{
  width: 40px;
  margin: 0 auto;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bouquet_description{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*List new event*/

.eventform {
  margin-left: 40px;
}
.eventform h2{
  margin-top: 80px;
  margin-left: 40px;
}

/*Style forms*/

.form{
  padding-left: 20px;
  background-color: white;
  padding-top: 20px;
  width: 300px;
  margin: 0 auto;
  border-radius: 10%;
  line-height: middle;
}

.backgroundform{
  margin-top: 80px;
  background-image: url('yellowflowerbackground.jpeg'), url('purpleflowerbackground.jpeg');
  min-height: 600px;
}





